.b1 {
    background-color: var(--red-2);
}

.b2 {
    background-color: var(--gray-2);
}

.b3 {
    background-color: var(--dark-blue-1);
}

.b4 {
    background-color: var(--dark-blue-1);
}

.b5 {
    background-color: var(--dark-blue-1);
}